node_modules/
.tools/
dist/
release/
installer/
installer-final/
installer-pdf/
installer-pdf-fixed/
installer-pdf-fields/
installer-pdf-fields-temp*/
*.log
npm-debug.log*
character-sheet.json
build/*.pfx
